@font-face {
    font-family: font800;
    src: url(fonts/ExtraBold.ttf);
  }

  @font-face {
    font-family: font600;
    src: url(fonts/SemiBold.ttf);
  }

  @font-face {
    font-family: font300;
    src: url(fonts/Light.ttf);
  }

  body {
    padding: 0px;
    margin: 0px;
}

.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 100;
  }
  header {
    background-color: white;
    height: 80px;
    line-height: 80px;
    padding-left: 79px;
    padding-right: 79px;
    box-shadow: 0 5px 6px -7px grey;
    position: relative
}

h1{
    display: inline;
    font-size: 1vw;
    font-family: font800;
}

.title{
    display: inline;
    font-size: 1.5em;
    font-family: font800;
}

.darkMode {
    float: right;
    font-size: 1em;
    font-family: font600;
    border: none;
    background-color: #ffffff00;
    line-height: 80px;
    padding-right: 0px;
    padding-left: 0px;
}


.section2{
    background-color: #fafafa;
    padding-right: 79px;
    padding-left: 79px;
    padding-top: 49px;
    /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0 0 #888888;
    /* width: 100%;
    height: 80vh; */
}

.section2div1 {
    margin-bottom: 4px;
}

.SearchIcon {
    font-weight: 900;
    padding: 17px 0 0 14px;
}
.SearchBar {
    padding: 0px 0 0px 75px;
    width: 32%;
    min-width: 330px;
    height: 55px;
    /* line-height: inherit; */
    /* min-width: 368px; */
    font-family: font300;
    font-size: 14px;
    border: none;
    box-shadow: 0px 1px 20px #cfcfcf9c;
    border-radius: 4px;
}

.search{
    position: absolute;
    padding: 12px 20px 0 0;
    color: #858585;
    min-width: 50px;
    text-align: center;  
}

.drop_list {
    /* padding: 15px 0 15px 0; */
    height: 55px;
    width: 201px;
    padding-left: 19px;
    /* padding-right: 32px; */
    font-family: font600;
    border: none;
    font-size: 14px;
    box-shadow: 0px 1px 20px #cfcfcf9c;
    border-radius: 4px;
    float: right;
    /* height: 75%; */
}



.section2div2 {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* column-gap: 5vw; */
    /* align-content: space-between; */
    width: 100%;
    padding-top: 44px;
    justify-content: space-between;
    row-gap: 78px;

}

.CountryInfo {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin: 16px 26px 35px 26px;
    font-family: font300;
    font-size: 14px;
}

.flag_img{
    /* width: inherit; */
    width: 100%;
    height: 48%;
    object-fit: cover;
    /* height: fit-content; */
    border-radius: 5px 5px 0 0 ;
}

.CountryCard {
    width: 21%;
    /* min-width: 226px; */
    min-width: 270px;
    height: 335px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 30px rgb(216 215 215);
}

.country_name {
    margin: 24px 27px 0 27px;
    font-family: font800;
    padding-top: -2px;
    font-size: large;
}

.semiBold{
    font-family: font800;
}

/* ////////////////////////////Media queries////////////////////////////// */

/* @media only screen and (max-width: 818px) {
    .element {
        min-width: 187px;
    }
    .section2div2 {
        column-gap: 5vw;
    }
  } */
@media only screen and (max-width: 763px){
    .drop_list {
        
        float: none;
    margin-top: 36px;
    }
}

@media only screen and (max-width: 609px){
    .darkMode {
        font-size: 0.78em;
      
    }
    header {
        height: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .title {
        font-size: 0.86em;
    }

    .section2 {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 24px;
    }

    .SearchBar {
        width: 78%;
        margin: auto;
        /* height: 46px; */
        min-width: 250px;
        height: 50px;
        font-size: 12px;
    }

    .drop_list {
        height: 50px;
        padding-left: 19px;
        font-size: 12px;
        float: none;
    margin-top: 36px;
    }

    .section2div2 {
        row-gap: 41px;
        padding-top: 29px;
    }

    .CountryCard {
        width: 78%;
        margin: auto;
        max-width: 266px;
    }
}

/* @media only screen and (max-width: 600px){

    .drop_list {
        float: none;
        margin-top: 31px;
        width: 176px;

    }

    } */

/* /////////////////////Info page styles///////////////////////////// */
.InfoSec {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 51px;
    justify-content: space-between;
    /* margin: auto; */
    /* column-gap: 6%; */
    flex-wrap: wrap;
    /* padding-left: 79px; */
    /* padding-right: 79px; */
}

.InfoSecImage{
    width: 47%;
}

.InfoImg{
    width: 95%;
}

.CountryDetails {
    font-family: font300;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* flex-wrap: wrap; */
    font-size: 15px;
    padding-top: 39px;
    /* padding-left: 40px; */
    width: 47%;
}

.CountryDetails12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* column-gap: 125px; */
}
.CountryDetails1 {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.CountryDetails2 {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.borders{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 44px;
    column-gap: 10px;
    margin-bottom: 40px;
}

.Info_country_name {
    font-family: font800;
    font-size: 32px;
}
/* 
.CountryBox{
    display: inline-block;
    box-shadow: 1px 1px 10px rgba(168, 168, 168, 0.74);
    padding: 1px 12px 1px 12px;
    margin-right: 5px;

} */


.CountryBox {
    display: inline-block;
    /* border: 1px solid gray; */
    box-shadow: 1px 0px 4px rgb(168 168 168 / 74%);
    /* padding: 1px 12px 1px 12px; */
    margin-right: 5px;
    width: 97px;
    height: fit-content;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
    font-family: 'font600';
}

.button {
    box-shadow: 1px 1px 8px rgb(141 141 141 / 74%);
    padding: 9px 27px 9px 28px;
    width: 135px;
    height: 43px;
    border: none;
    background-color: white;
    font-size: 15px;
    color: #5c5c5c;
    border-radius: 4px;
    cursor: pointer;
}

.buttonDiv {
    padding: 6% 0 27px 0;
}

.section2part2 {
    /* box-shadow: 0px -3px 14px #d6d6d68f; */
    border-top: 1px solid #dad8d88e;
    /* background-color: #fafafa; */
    /* height: 100vh; */
    padding: 0 79px 0 79px;
}

/* @media only screen and (max-width: 1085px) {
    .CountryDetails{
        row-gap: 10px;
        font-size: 70%;
    
    }

    .InfoImg{
        width: 30%;
        min-width: 360px;
    }

    .CountryDetails12{
       
        column-gap: 16%;
     
    }
  } */


  /* @media only screen and (max-width: 911px) {
    .CountryDetails{
        font-size: 55%;
    
    }

    .InfoImg{
        min-width: 300px;
        padding-top: 22px;
    }

    .CountryDetails12{
       
        column-gap: 16%;
     
    }

    .Info_country_name{
        font-size: 20px;
    }

    .borders {
        padding-top: 6px;
    }
  } */

  /* @media only screen and (max-width: 823px) {
    .CountryDetails{
        font-size: 58%;
    
    }

    .InfoImg{
        min-width: 260px;
        padding-top: 22px;
    }

    .CountryDetails12{
       
        column-gap: 14%;
     
    }

    .Info_country_name{
        font-size: 15px;
    }

    .borders {
        padding-top: 6px;
    }

    .CountryBox {
     
        width: 66px;
        
    }
    .buttonDiv {
        padding: 4% 0 30px 44px;
    }
  } */


  /* ////////////////////// Mobile view //////////////////// */

  /* @media only screen and (max-width: 721px) {

    .buttonDiv {
        padding: 8% 0 20px 45px
    }

    .button {
        padding: 8px 22px 8px 17px;
        font-size: 10px;
    }

    .CountryDetails {
        font-size: 66%;
    }

    .CountryDetails12 {
        row-gap: 38px;
    }
    .borders {
        row-gap: 12px;
    }
    .CountryBox {
        width: 81px;
    }

    .darkMode {
        font-size: 11px;
    }

    .title {
        font-size: 4vw;

    }

    header {
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 20px;
    }

    .InfoSec {
        margin: auto;
        width: 77%;
    }

    .InfoImg {
        min-width: 271px;
        padding-top: 22px;
    }
    .section2part2 {
        background-color: #fafafa;
 
    }
  } */


a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

@media only screen and (max-width: 941px){
    .CountryDetails {
        row-gap: 19px;
    }
    .CountryDetails12 {
        row-gap: 34px;
    }
    .CountryDetails {
        width: 39%;
    }
    .InfoSecImage {
        width: 53%;
    }
    .CountryBox {
        width: 63px;
        font-size: 10px;
    }
}


@media only screen and (max-width: 1300px){
    .CountryDetails {
        row-gap: 5px;
        font-size: 13px;
        padding-top: 15px;
    }
    .Info_country_name {
        font-size: 2em;
    }

    .borders {
        padding-top: 19px;
    }
}

@media only screen and (max-width:700px){
    .section2part2 {
        padding: 0px 27px 0 27px;
    }
    .InfoImg {
        width: 100%;
    }
    .InfoSecImage {
        min-width: 100%;
    }

    .buttonDiv {
        padding: 12% 0 11px 0;
    }

    .button {
        width: 105px;
        height: 34px;
        font-size: 13px;
    }
    .InfoSec {
        padding-top: 51px;
    }

    .CountryDetails {
        row-gap: 23px;
        font-size: 14px;
        padding-top: 77px;
        width: 100%;
    }
    .Info_country_name {
        font-size: 22px;
    }

    .CountryDetails12 {
        row-gap: 45px;
    }
    .CountryDetails1 {
        row-gap: 13px;
    }
    .CountryDetails2 {
        row-gap: 13px;
    }

    .borders {
        padding-top: 14px;
        row-gap: 18px;
    }
    .CountryBox {
        width: 97px;
        font-size: 12px;
    }
    /* .darkMode {
        font-size: 0.78em;
      
    } */
    header {
        padding-left: 27px;
        padding-right: 27px;
    }
    /* .title {
        font-size: 0.86em;
    } */
}